<h1>New task</h1>

<%= form_for(@task) do |item|%>
<p>
  <%= item.label :title %>
    <br />
  <%= item.text_field :title %>
</p>

<p>

  <%= item.label :details%>
    <br />
  <%= item.text_field :details%>

</p>

<p>
  <%= item.submit "Add Task" %>
</p>
<% end %>